<p>login works!</p>
<button (click)="up()">+</button>
<button (click)="down()">-</button>

<form (ngSubmit)='register()' #formLogin="ngForm">

  <div>
    <label>Username</label>
    <input type="text" name="username" [(ngModel)]="user.username" required>
    <small>{{ user.username }} </small>
  </div>

 <div>
    <label>Password</label>
    <input type="password" name="password" [(ngModel)]="user.password" >
  </div>

  <h1>form valide ? {{ formLogin }}</h1>
  <button class="btn btn-primary" type='submit' [disabled]="formLogin.invalid"> Register  </button>
</form>
