<form [formGroup]="myForm" (ngSubmit)="register()">
  <div class="form-group">
    <label for="nom">Name</label>
    <input type="text" class="form-control" id="nom" formControlName="name" />
    <div
      class="alert alert-danger"
      *ngIf="myForm.get('name').invalid && myForm.get('name').touched"
    >
      Invalid name
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      formControlName="email"
    />
    <div
      class="alert alert-danger"
      *ngIf="email.invalid && myForm.get('email').touched"
    >
      Invalid email
    </div>
  </div>

  <div class="form-group">
    <label for="comment">comment</label>
    <input
      type="text"
      class="form-control"
      id="comment"
      formControlName="comment"
    />
    <div
      class="alert alert-danger"
      *ngIf="myForm.get('comment').invalid && myForm.get('comment').touched"
    >
      Invalid comment
    </div>
  </div>

  <div class="form-group">
    <label for="ca">CA</label>
    <input type="number" class="form-control" id="ca" formControlName="ca" />
    <div
      class="alert alert-danger"
      *ngIf="myForm.get('ca').invalid && myForm.get('ca').touched"
    >
      Invalid ca {{ myForm.get("ca").errors | json }}
    </div>
  </div>

  <div class="form-group">
    <label for="state">state</label>
    <select formControlName="state">
      <option *ngFor="let state of clientStates" [value]="state">{{
        state
      }}</option>
    </select>
  </div>

  <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">
    Submit
  </button>
</form>
